--- 
layout: default
---

    <div class="row">

        <div class="col-lg-8 col-md-4">
            <ul>
                <div class="row">
                    {% for post in site.posts %}
                    <div class="card blog-post">
                        <img class="card-img-top" src="/assets/img/{{ post.thumbnail }}" alt="{{ post.title }}">
                        <div class="card-body center">
                            <img src="/assets/img/{{ site.post_author_logo_1 }}" class="author-profile-img">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <h5 class="card-author">{{ post.author }}</h5>

                            <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%b %-d, %Y" }}</h6>
                            <p class="card-text">{{ post.summary }} </p>

                            <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}" class="btn btn-primary btn-lg">Read</a>
                            <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}"></span>

                        </div>
                    </div>

                    {% endfor %}
                </div>
            </ul>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header"> About {{ site.title }} </div>
                <div class="card-body text-dark">
                    <p> RL4RL is a project designed to encourage the use of Reinforcement Learning for Real Life problems. Specifically 
                    for data in which decisions are made in sequences that lead towards a long term outcome. This website showcases some 
                    applications from a range of domains to help demonstrate how Reinforcement Learning can be applied in this way</p>
                    
                    <p> We hope that by making the method more accessible, more and more uses will come from this work. This is achieved by:</p>
                        <ol>
                          <li>Defining the process required to model the environment as a Markov Decision Process (MDP).</li>
                          <li>Introducing an R/Python package that can be applied on the MDP for training an agent.</li>
                          <li>Writing clear educational examples which are added to the documentation to demonstrate the possible use cases for applying Reinforcement Learning to real-life tasks.</li>
                          <li>Encouraging a community to showcase their work and novel applications, further increasing the number of use cases.  </li>
                        </ol>
                   
                    
                    <p> The package and documentation is made publicly available and free to use but request that you cite our accompanying paper
                     ..... REF.....</p>
                    
                    This project was founded by Philip Osborne, a PhD student of the University of Manchester's AI Systems Lab. 
                    
                </div>
            </div>
            <div class="card">

                <div class="card-header">Article Categories</div>
                <div class="card-body text-dark">
                    {% for tag in site.categories %} {% capture tag_name %}{{ tag | first }}{% endcapture %}
                    <div id="#{{ tag_name | slugize }}"></div>
                    <li class="tag-head">
                        <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}">{{ tag_name }}</a>
                    </li>
                    <a name="{{ tag_name | slugize }}"></a>

                    {% endfor %}
                </div>


            </div>
            <div class="card">
                <!-- Begin MailChimp Signup Form -->
                {%- include newsletter.html -%}
            </div>
        </div>
